<div class="container mt-3">
    <app-search (OnSearch)="displayStudent($event)"></app-search>
    <h1 class="text-center mb-4">Registered Students</h1>
    <ol class="list-group">
        <div class="mt-1" *ngFor="let student of Students">
                <li class="list-group-item rounded"
                    *ngIf="searchText === '' || student.firstName.toLowerCase().includes(searchText) ">
                    <span>
                        <a class="nav-link active" aria-current="page"
                            [routerLink]="['studentDetails',student.ID]">{{student.firstName}}-{{student.LastName}}</a>
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="deleteStudent(student)">Delete</button>
                    </span>
                  <span *ngIf="update"> <button type="button" class="btn btn-success btn-sm"
                    [routerLink]="['updateStudent',student.ID]">Update</button></span>
                </li>
           
        </div>
    </ol>

</div>