<div class="container">
  <ul class="list-group mt-5">
    <li class="list-group-item active" aria-current="true">Student : {{student.firstName}}-{{student.LastName}}</li>
    <li class="list-group-item">Id : {{student.ID}}</li>
    <li class="list-group-item">firstName : {{student.firstName}}</li>
    <li class="list-group-item">LastName : {{student.LastName}}</li>
    <li class="list-group-item">Course : {{student.course}}</li>
    <li class="list-group-item">Blood_Type : {{student.BLOOD_TYPE}}</li>
    <li class="list-group-item">Address : {{student.address}}</li>
  </ul>
</div>